---
Language: Cpp
BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false

ColumnLimit: 100
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements

AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false

InsertNewlineAtEOF: true

SortIncludes: CaseInsensitive
IncludeBlocks: Preserve

NamespaceIndentation: None
IndentCaseLabels: true
